---
- name: Configurar Servidor DNS (BIND9)
  hosts: dns_servers
  become: yes
  vars_files:
    - vars.yml

  tasks:
    - name: Instalar paquetes DNS
      apt:
        name: [bind9, bind9utils, bind9-doc]
        state: present
        update_cache: yes

    - name: Configurar named.conf.options
      copy:
        dest: /etc/bind/named.conf.options
        content: |
          options {
              directory "/var/cache/bind";
              listen-on { any; };
              allow-query { any; };
              forwarders { 8.8.8.8; };
              recursion yes;
          };
          
          key "{{ tsig_key_name }}" {
              algorithm {{ tsig_algorithm }};
              secret "{{ tsig_secret }}";
          };

    - name: Configurar named.conf.local
      copy:
        dest: /etc/bind/named.conf.local
        content: |
          zone "{{ domain_name }}" {
              type master;
              file "/var/lib/bind/db.example.test";
              allow-update { key "{{ tsig_key_name }}"; };
          };

          zone "58.168.192.in-addr.arpa" {
              type master;
              file "/var/lib/bind/db.192";
              allow-update { key "{{ tsig_key_name }}"; };
          };

    - name: Crear archivo Zona Directa
      copy:
        dest: /var/lib/bind/db.example.test
        force: no
        content: |
          $TTL 604800
          @   IN  SOA dns.{{ domain_name }}. root.{{ domain_name }}. ( 2 604800 86400 2419200 604800 )
          @       IN  NS  dns.{{ domain_name }}.
          @       IN  A   {{ dns_server_ip }}
          dns     IN  A   {{ dns_server_ip }}

    - name: Crear archivo Zona Inversa
      copy:
        dest: /var/lib/bind/db.192
        force: no
        content: |
          $TTL 604800
          @   IN  SOA dns.{{ domain_name }}. root.{{ domain_name }}. ( 2 604800 86400 2419200 604800 )
          @       IN  NS  dns.{{ domain_name }}.
          10      IN  PTR dns.{{ domain_name }}.

    - name: Ajustar permisos carpeta bind
      file:
        path: /var/lib/bind
        owner: bind
        group: bind
        mode: '0775'
        recurse: yes

    - name: Reiniciar BIND9
      service: name=bind9 state=restarted